[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The Baking App is the Project of the Nanodegree program by Udacity. The main purpose of this Project is handling error caces it comes with APIs.
[access "refs/*"]
	owner = group user/Mohamed Selema (mohamedebrahimselema)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohamed Selema (mohamedebrahimselema)
	label-Verified = -1..+1 group user/Mohamed Selema (mohamedebrahimselema)
	push = group user/Mohamed Selema (mohamedebrahimselema)
	read = group user/Mohamed Selema (mohamedebrahimselema)
	rebase = group user/Mohamed Selema (mohamedebrahimselema)
	removeReviewer = group user/Mohamed Selema (mohamedebrahimselema)
	submit = group user/Mohamed Selema (mohamedebrahimselema)
[access "refs/heads/*"]
	create = group user/Mohamed Selema (mohamedebrahimselema)
	push = +force group user/Mohamed Selema (mohamedebrahimselema)
	pushMerge = group user/Mohamed Selema (mohamedebrahimselema)
	read = group user/Mohamed Selema (mohamedebrahimselema)
[access "refs/tags/*"]
	push = group user/Mohamed Selema (mohamedebrahimselema)
	push = +force group user/Mohamed Selema (mohamedebrahimselema)
